@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style: none;
}

body {
margin: 0;
padding: 0;
text-align: center;
background-color: #f4f4f4;
}

header {
background-color: #7494ec;
padding: 20px;
color: white;
}

nav ul {
list-style: none;
padding: 0;
}

nav li {
display: inline;
margin: 0 10px;
}

a {
    position: relative;
    left: 700px;
    width: 19%;
    height: 48px;
    background: #7494ec;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
}

a.btn {
display: inline-block;
padding: 10px 20px;
background-color: #395194;
color: white;
margin-top: 20px;
border-radius: 5px;
}

footer {
margin-top: 40px;
padding: 10px;
background-color: #ddd;
}